<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calendar">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".CalendarApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.example.calendar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver android:name=".TestReceiver">
            <intent-filter>
                <action android:name="com.example.picher.test"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity android:name=".JumpActivity"/>

        <receiver android:name=".SplashActivity$DemoReceiver">
            <intent-filter>
                <action android:name="com.example.receiver"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.example.calendar.demo.MainActivity">

        </activity>
        <activity android:name=".demo.otherActivity"></activity>
    </application>

</manifest>